---
layout: check
title: DMIQ | 디지털 마케팅 진단 테스트
description: 우리 팀의 디지털 마케팅 역량을 진단하세요.
image:
permalink: /dmiq/
---

<!-- BEGIN: Content-->

  {% include check/check-start.html %}
  {% include check/check-description.html %}
  {% include check/check-question.html %}

  {% include check/check-result.html %}

<!-- END: Content-->

<!-- <div class="sidenav-overlay"></div>
<div class="drag-target"></div> -->

{% include check/check-score.html %}

<script>
  dataLayer.push({
    'page_index': 'dmiq',
    'event_id': generateRandomCode(32)
  });
</script>
