---
layout: default
title: 문의 남기기
---

<div class="form-box mb-5">
  <div class="contact-head">
    {% if site.data.settings.contact__settings.contact__title %}
      <h2 class="contact-title">{{ site.data.settings.contact__settings.contact__title }}</h2>
    {% endif %}
    {% if site.data.settings.contact__settings.contact__description %}
      <p class="contact-description">{{ site.data.settings.contact__settings.contact__description }}</p>
    {% endif %}
    <p class="contact-description"><i class="ion ion-ios-mail-unread"></i> <a href="mailto:contact@osoma.kr" data-tag-index="contact" data-tag-content="이메일">contact@osoma.kr</a></p>
  </div>

  <div class="contact__btn__div">
    <a class="contact__btn" href="{{site.data.settings.introduce_file}}" target="_blank" data-tag-index="contact" data-tag-content="서비스 소개서 보기">
      <span class="circle-bg"><i class="ion ion-md-arrow-down button-arrow"></i></span> 서비스 소개서 보기
    </a>
  </div>

  <form id="contact_page" class="form" action="https://formspree.io/f/xyylvqaa" method="POST">
    <input type="hidden" id="cid-page" name="cid" value="" />
    <input type="hidden" id="amid-page" name="cid" value="" />
    <!-- <div class="form__group">
      <select id="form-select" class="form-select form__input" aria-label="문의 구분" name="index">
        <option selected disabled>어떤 문의를 하시나요?</option>
        <option value="신규런칭-전략수립">신규 런칭/전략 수립</option>
        <option value="데이터 분석 환경 구축">데이터 분석 환경 구축</option>
        <option value="유입 극대화">유입 극대화</option>
        <option value="고객 행동 분석">고객 행동 분석</option>
        <option value="광고 최적화">광고 최적화</option>
        <option value="내부 역량 강화">내부 역량 강화</option>
      </select>
    </div> -->
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-name-page">이름</label>
      <input class="form__input" id="form-name-page" type="text" name="name" placeholder="담당자 이름" required>
    </div>
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-email-page">Email</label>
      <input class="form__input" id="form-email-page" type="email" name="email" placeholder="담당자 이메일 주소" required>
    </div>
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-phone-page">연락처</label>
      <input class="form__input" id="form-phone-page" type="tel" name="phone" placeholder="담당자 연락처(선택)">
    </div>
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-company-page-page">회사명/서비스명</label>
      <input class="form__input" id="form-company-page" type="text" name="company" placeholder="회사명/서비스명" required>
    </div>
    <!-- <div class="form__group">
      <label class="form__label screen-reader-text" for="form-website-page">웹사이트</label>
      <input class="form__input" id="form-website-page" type="text" name="website" placeholder="웹사이트 주소" required>
    </div> -->
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-text-page">문의 내용</label>
      <textarea class="form__input" id="form-text-page" name="message" rows="8" placeholder="문의 내용" required></textarea>
    </div>
    <div class="form__group form__group-button">
      <button class="g-recaptcha button button--middle" type="submit">전송하기 <i class="ion ion-ios-paper-plane"></i></button>
    </div>
    <input type="hidden" name="_subject" value="[osoma.kr]에서 문의가 도착했습니다." />
  </form>

  <!-- <div class="col col-12" style="display:none;" id="contact_complete_page">
    <h4 class="text-center">문의가 제출되었습니다.</h4>
  </div> -->

  <!-- <iframe name="contactblankiframepage" style="display:none;"></iframe> -->

</div>
<!-- end contact -->

<!-- <script>
  function onSubmitPage(token) {
    document.getElementById("contact_page").submit();
    var contents = {
      'name': document.querySelector('#form-name-page').value,
      'email': document.querySelector('#form-email-page').value,
      'company': document.querySelector('#form-company-page').value,
      'website': document.querySelector('#form-website-page').value,
      'text': document.querySelector('#form-text-page').value
    };

    dataLayer.push({
      'event': 'contactSubmit',
      'value': contents
    });

    document.getElementById('contact_page').style.display = 'none'; // hide form
    document.getElementById('contact_complete_page').style.display = 'block';
  }
</script> -->

<script>
  window.addEventListener('load', function () {
    var inputCid = ga.getAll()[0].get('clientId');
    document.getElementById("cid-page").value = inputCid;
    if(amplitude._instances.$default_instance.options.deviceId){
      document.getElementById("amid-page").value = amplitude._instances.$default_instance.options.deviceId;
    }
  });

  var formSubmitPage = function(){
    var contents = {
      'name': document.querySelector('#form-name-page').value,
      'email': document.querySelector('#form-email-page').value,
      'company': document.querySelector('#form-company-page').value,
      'text': document.querySelector('#form-text-page').value
    };

    dataLayer.push({
      'event': 'contactSubmit',
      'value': contents
    });

    // document.getElementById('contact_page').style.display = 'none'; // hide form
    // document.getElementById('contact_complete_page').style.display = 'block';
  };
  document.querySelector('#contact_page').addEventListener('submit', formSubmitPage);
</script>
