---
layout: default
permalink: /ga-consulting/
ids: ga-consulting
title: "구글 애널리틱스 4(GA4) 구축 및 컨설팅"
description: 오픈소스마케팅의 GA4 컨설팅 서비스는 이벤트 설계부터 GA4 설치 및 세팅, 대시보드 제작은 물론, 인사이트 데이터 분석까지 가능한 맞춤형 컨설팅 서비스입니다.
---

<section id="main-hero" class="subscribe section">
  <div class="container">
    <div class="row">
      <div class="col col-12 mb-4">
        <div class="hero__inner">
          <div class="subscribe__info">
            <h1 class="hero__title">
              구글 애널리틱스 4<br />
              이제 도입할 차례입니다.
            </h1>
            <div id="hero-subtitle" class="author__bio">
              <span class="text-span" style="font-weight: 800">오픈소스마케팅</span>의 GA4 컨설팅 서비스는 이벤트 설계부터 GA4 설치 및 세팅, 대시보드 제작은
              물론, 인사이트 분석까지 가능한 1:1 맞춤형 서비스입니다.
            </div>
          </div>
        </div>
      </div>

      <div class="col col-12">
        <div class="subscribe-form">
          <a href="#hero" onclick="openContactForm();" class="button button--big subscribe-button"
            data-tag-index="data_landing" data-tag-content="컨설팅 문의하기_hero">
            GA4 구축/컨설팅 문의하기
          </a>
        </div>
        <div class="subscribe-form mt-3">
          <a href="{{site.data.settings.data_intro_file}}" target="_blank" class="outline__button outline__button--big"
            data-tag-index="data_landing" data-tag-content="서비스 소개서 보기_hero">
            서비스 소개서 보기
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="subscribe section">
  <div class="container">
    <div class="row">
      <div class="col col-4 col-t-12 text-center">
        <img class="data_featured_icon mb-3 img-fluid" src="/images/landing/data/worker.svg" />
        <h3>전문가의 체계적인 설계</h3>
        <p>
          분석 전문가가 서비스를 직접 분석한 후 GA4 이벤트를 설계해 체계적이고
          효율적으로 데이터를 수집할 수 있습니다.
        </p>
      </div>
      <div class="col col-4 col-t-12 text-center">
        <img class="data_featured_icon mb-3 img-fluid" src="/images/landing/data/setting.svg" />
        <h3>비즈니스에 최적화된 커스텀 태깅</h3>
        <p>
          일원화된 템플릿 코드가 아닌 비즈니스 상황에 맞춘 커스텀 태깅을 통해
          비즈니스에 딱 맞는 맞춤형 데이터 수집 환경을 구성합니다.
        </p>
      </div>
      <div class="col col-4 col-t-12 text-center">
        <img class="data_featured_icon mb-3 img-fluid" src="/images/landing/data/dashboard.svg" />
        <h3>핵심 인사이트를 담은 대시보드</h3>
        <p>
          루커 스튜디오 대시보드 제작은 물론, 주요 퍼널 또는 이슈 데이터를
          선별해 핵심 인사이트를 도출한 리포트를 제공합니다.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col col-12 mb-5">
        <div class="subscribe__inner">
          <div class="subscribe__info">
            <h2 class="hero__title">GA4 세팅 서비스</h2>
            <h3>GA4 이벤트 설계부터 분석까지 필요한 모든 단계가 준비되어 있습니다.</h3>
          </div>
          <div class="author__bio text-center mb-4">
            기본 5단계(진단 > 설계 > 구축 > 시각화 > 교육)로 진행되고 필요한
            단계만 뽑아 개별 진행도 가능합니다.
          </div>
        </div>
        <div class="col col-12">
          <div class="subscribe-form">
            <a href="#service" onclick="openContactForm();" class="button button--big subscribe-button"
              data-tag-index="data_landing" data-tag-content="컨설팅 문의하기_서비스">
              GA4 컨설팅 문의하기
            </a>
          </div>
          <div class="subscribe-form mt-3">
            <a href="{{site.data.settings.data_intro_file}}" target="_blank"
              class="outline__button outline__button--big" data-tag-index="data_landing"
              data-tag-content="서비스 소개서 보기_서비스">
              서비스 소개서 보기
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-4 col-t-12 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              ✅ 데이터 분석 환경 진단 <span class="badge bg-danger">필수</span>
            </h4>
            <p class="card-text mt-3 fs-6">
              DMIQ(마케팅 역량진단 테스트)와 인터뷰를 통해 어떤 데이터가
              필요한지, 어떻게 수집해야하는지 비즈니스 및 분석 환경을
              진단합니다.
            </p>
          </div>
        </div>
      </div>
      <div class="col col-4 col-t-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              ✅ 데이터 수집 환경 설계 <span class="badge bg-dark">선택</span>
            </h4>
            <p class="card-text mt-3 fs-6">
              사용자 행동을 정리하고, 행동이 발생할 때 가져와야 하는 핵심정보를
              정리해 이벤트를 설계합니다. 결과물로 GA4 이벤트/이벤트 매개변수를
              정리한 맞춤 이벤트 설계서와 스크립트 가이드를 받아볼 수 있습니다.
            </p>
          </div>
        </div>
      </div>
      <div class="col col-4 col-t-12 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              ✅ GA4/GTM 환경 구축 <span class="badge bg-dark">선택</span>
            </h4>
            <p class="card-text mt-3 fs-6">
              GA4 및 광고 매체 스크립트를 설치하고 태깅합니다.(자체
              서비스의 경우 내부 개발팀과의 협업이 필요합니다.) 결과물로 세팅
              완료된 분석 도구를 얻을 수 있습니다.<br>
              * 💳 GA4 네이버페이 구매 추적을 포함합니다.
            </p>
          </div>
        </div>
      </div>
      <div class="col col-4 col-t-12 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              ✅ GA4 데이터 분석 <span class="badge bg-dark">선택</span>
            </h4>
            <p class="card-text mt-3 fs-6">
              핵심 행동 데이터 및 주요 이슈 데이터를 선별해 분석합니다. 결과물로
              핵심 인사이트를 담은 리포트를 받아볼 수 있습니다.
            </p>
          </div>
        </div>
      </div>
      <div class="col col-4 col-t-12 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              ✅ 데이터 시각화 <span class="badge bg-dark">선택</span>
            </h4>
            <p class="card-text mt-3 fs-6">
              수집된 데이터를 쉽고 빠르게 파악할 수 있도록 루커 스튜디오 데이터
              시각화 리포트를 구현합니다. 결과물로 자동 업데이트되는 대시보드를
              받아볼 수 있습니다.
            </p>
          </div>
        </div>
      </div>
      <div class="col col-4 col-t-12 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              ✅ GA4 활용 교육 <span class="badge bg-dark">선택</span>
            </h4>
            <p class="card-text mt-3 fs-6">
              새롭게 구축된 GA4의 활용 방법을 교육합니다. 획일화된
              커리큘럼이 아닌 비즈니스 맞춤형 커리큘럼으로 교육이 진행됩니다.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="subscribe__inner">
          <div class="subscribe__info">
            <h2 class="hero__title">진행 순서</h2>
            <div class="author__bio">
              올인원 서비스 이용 시 진단부터 교육까지 순차 진행됩니다. 일부
              단계만 개별 선택 시 진단 후 해당 단계의 업무로 넘어갑니다.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-lightgrey">
    <div class="row">
      <div class="col col-lg-8 offset-lg-2 mt-5 mb-2">
        <img src="/images/landing/data/process-m.png" class="img-fluid d-sm-block d-md-none" />
        <img src="/images/landing/data/process.png" class="img-fluid d-none d-md-block" />
        <ul class="mt-3 data-list-style">
          <li>
            비즈니스 진단은 필수 진행이며 2~8번 서비스는 선택할 수 있습니다.
          </li>
          <li>
            인사이트 리포트 발행 기간 및 간격은 협의가 가능합니다.(월별, 분기별 발행 / 최소 기간
            1개월 / 최소 간격 2주)
          </li>
          <li>
            교육 기간 및 시간은 커리큘럼에 따라 변동됩니다.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section d-none d-md-block">
  <div class="container">
    <div class="row">
      <div class="col col-12 mb-4">
        <div class="subscribe__inner">
          <div class="subscribe__info">
            <h2 class="hero__title">결과물 미리보기</h2>
            <div class="author__bio mb-4">
              인사이트 리포트 및 이벤트 설계서를 살펴보세요.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 결과 보고서 -->
    <div class="row mb-5">
      <div class="col col-6 col-t-12 my-auto">
        <h3>분석환경 진단 결과 보고서</h3>
        <p>
          데이터 분석, 마케팅 현황을 포함해 비즈니스의 전반적인 역량을 분야별로
          분석한 보고서입니다. 오픈소스마케팅에서 독자적으로 개발한 디지털
          마케팅 역량 진단 테스트 DMIQ를 기본으로 진행하며, 인터뷰 및 서비스
          파악 등을 거쳐 보강합니다. 인터뷰 방식은 온/오프라인 중 선택할 수 있습니다.
        </p>
      </div>
      <div class="col col-6 col-t-12">
        <img src="/images/landing/data/result-01.png" class="img-fluid" />
      </div>
    </div>
    <!-- 이벤트 설계서 -->
    <div class="row mb-5">
      <div class="col col-6 col-t-12">
        <img src="/images/landing/data/result-02.png" class="img-fluid" />
      </div>
      <div class="col col-6 col-t-12 my-auto">
        <h3>이벤트 설계서</h3>
        <p>
          데이터 분석을 위해 사용자의 행동과 행동이 일어나는 시점에 수집해야
          하는 정보를 정리한 이벤트 설계서입니다. 데이터 분석 전문가가 서비스를
          직접 사용한 후 사용자의 흐름과 핵심행동을 파악해 비즈니스 맞춤형으로
          제작합니다. 기간은 서비스 복잡도에 따라 변동될 수 있으나, 평균적으로
          약 2주 소요됩니다.
        </p>
      </div>
    </div>
    <!-- 스크립트 가이드 -->
    <div class="row mb-5">
      <div class="col col-6 col-t-12 my-auto">
        <h3>스크립트 가이드</h3>
        <p>
          분석 도구에 익숙하지 않은 상황이라도, 서비스에 쉽게
          적용할 수 있도록 제작한 스크립트 가이드입니다. GA4와 GTM의 특성과
          서비스 구조에 맞추어 태깅 전문 컨설턴트가 비즈니스 마다 개별 제작
          합니다. 기간은 서비스 구조, 사용하는 분석 도구, 광고 매체에 따라 변동될
          수 있으나, 평균적으로 약 2주 소요됩니다.
        </p>
      </div>
      <div class="col col-6 col-t-12">
        <img src="/images/landing/data/result-03.png" class="img-fluid" />
      </div>
    </div>
    <!-- 인사이트 리포트 -->
    <div class="row mb-5">
      <div class="col col-6 col-t-12">
        <img src="/images/landing/data/result-04.png" class="img-fluid" />
      </div>
      <div class="col col-6 col-t-12 my-auto">
        <h3>인사이트 리포트</h3>
        <p>
          수집한 데이터 중에서도 주요하게 살펴봐야하는 핵심 데이터를 정리한
          인사이트 리포트입니다. 단순히 데이터만 나열한 것이 아니라, 실무 경험을
          갖춘 분석 전문가가 뽑아낸 인사이트를 함께 전달하는 것이
          오픈소스마케팅 데이터 분석 컨설팅의 강점입니다. 데이터가 어떤 의미를
          갖는지, 비즈니스에 어떤 영향을 미치고 있는지, 문제 상황은 어떻게
          해결해야하는지 정리해 발행하며, 리포트 발행 주기 및 기간은 협의할 수
          있습니다. (최소 간격 2주)
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section d-sm-block d-md-none">
  <div class="container">
    <div class="row">
      <div class="col col-12 mb-4">
        <div class="subscribe__inner">
          <div class="subscribe__info">
            <h2 class="hero__title">결과물 미리보기</h2>
            <div class="author__bio mb-4">
              인사이트 리포트 및 이벤트 설계서를 살펴보세요.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 결과 보고서 -->
    <div class="row mb-5">
      <div class="col col-6 col-t-12 my-auto">
        <h3>분석환경 진단 결과 보고서</h3>
        <p>
          데이터 분석, 마케팅 현황을 포함해 비즈니스의 전반적인 역량을 분야별로
          분석한 보고서입니다. 오픈소스마케팅에서 독자적으로 개발한 디지털
          마케팅 역량 진단 테스트 DMIQ를 기본으로 진행하며, 인터뷰 및 서비스
          QA를 거쳐 보강합니다. 인터뷰는 온/오프라인 중 선택할 수 있고, 최소
          진행기간은 약 2주간 소요됩니다.
        </p>
      </div>
      <div class="col col-6 col-t-12">
        <img src="/images/landing/data/result-01.png" class="img-fluid" />
      </div>
    </div>
    <!-- 이벤트 설계서 -->
    <div class="row mb-5">
      <div class="col col-6 col-t-12 my-auto">
        <h3>이벤트 설계서</h3>
        <p>
          데이터 분석을 위해 사용자의 행동과 행동이 일어나는 시점에 수집해야
          하는 정보를 정리한 이벤트 설계서입니다. 데이터 분석 전문가가 서비스를
          직접 사용한 후 사용자의 흐름과 핵심행동을 파악해 비즈니스 맞춤형으로
          제작합니다. 기간은 서비스 복잡도에 따라 변동될 수 있으나, 평균적으로
          약 1개월 소요됩니다.
        </p>
      </div>
      <div class="col col-6 col-t-12">
        <img src="/images/landing/data/result-02.png" class="img-fluid" />
      </div>
    </div>
    <!-- 스크립트 가이드 -->
    <div class="row mb-5">
      <div class="col col-6 col-t-12 my-auto">
        <h3>스크립트 가이드</h3>
        <p>
          개발 또는 분석도구에 익숙하지 않은 상황이라도, 서비스(웹페이지)에 쉽게
          적용할 수 있도록 제작한 스크립트 가이드입니다. 분석도구의 요구상황과
          서비스 구조에 맞추어 태깅 전문 컨설턴트가 비즈니스 마다 개별 제작
          합니다. 기간은 서비스 구조, 사용하는 분석도구, 광고매체에 따라 변동될
          수 있으나, 평균적으로 약 1개월 소요됩니다.
        </p>
      </div>
      <div class="col col-6 col-t-12">
        <img src="/images/landing/data/result-03.png" class="img-fluid" />
      </div>
    </div>
    <!-- 인사이트 리포트 -->
    <div class="row mb-5">
      <div class="col col-6 col-t-12 my-auto">
        <h3>인사이트 리포트</h3>
        <p>
          수집한 데이터 중에서도 주요하게 살펴봐야하는 핵심 데이터를 정리한
          인사이트 리포트입니다. 단순히 데이터만 나열한 것이 아니라, 실무 경험을
          갖춘 데이터 분석 전문가가 뽑아낸 인사이트를 함께 전달하는 것이
          오픈소스마케팅 데이터 분석 컨설팅의 강점입니다. 데이터가 어떤 의미를
          갖는지, 비즈니스에 어떤 영향을 미치고 있는지, 문제 상황은 어떻게
          해결해야하는지 정리해 발행하며, 리포트 발행 주기 및 기간은 협의할 수
          있습니다. (최소 간격 2주)
        </p>
      </div>
      <div class="col col-6 col-t-12">
        <img src="/images/landing/data/result-04.png" class="img-fluid" />
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col col-12 mb-4">
        <div class="subscribe__inner">
          <div class="subscribe__info">
            <h2 class="hero__title">서비스 이용금액</h2>
            <div class="author__bio mb-4">
              사용 목적에 맞춰 자유롭게 플랜을 선택하세요.<br />
              비즈니스 상황에 맞춘 조합도 가능합니다.
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">에센셜 플랜</h4>
            </div>
            <div class="card-body">
              <h4 class="pricing-card-subtitle my-4">
                <br />비즈니스에 꼭 필요한<br />
                필수 핵심 데이터 세팅
              </h4>
              <h3 class="card-title pricing-card-title mb-5">
                300만원<br /><span class="pricing-period">(30일 완료)</span>
              </h3>

              <div class="subscribe-form">
                <a href="#essential" onclick="openContactForm();" class="button button--big subscribe-button"
                  data-tag-index="data_landing" data-tag-content="문의하기_이용금액_에센셜">
                  문의하기
                </a>
              </div>
              <hr class="pricing" />
              <ul class="list-unstyled mt-3 mb-4">
                <li>분석 환경 진단</li>
                <li>이벤트 설계</li>
                <li>이벤트 세팅 최대 20개</li>
                <li>스크립트 가이드 제작</li>
                <li>GA4 및 GTM 설정</li>
                <li>네이버페이 구매 추적</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header bg-primary text-white border-primary py-3">
              <h4 class="my-0 fw-normal">베이직 플랜</h4>
            </div>
            <div class="card-body">
              <h4 class="pricing-card-subtitle my-4">
                에센셜 플랜 포함<br />
                사용자 행동 추적에 필요한<br />세부 이벤트 설정
              </h4>
              <h3 class="card-title pricing-card-title mb-5">
                500만원<br /><span class="pricing-period">(60일 완료)</span>
              </h3>

              <div class="subscribe-form">
                <a href="#basic" onclick="openContactForm();" class="button button--big subscribe-button"
                  data-tag-index="data_landing" data-tag-content="문의하기_이용금액_베이직">
                  문의하기
                </a>
              </div>
              <hr class="pricing" />
              <ul class="list-unstyled mt-3 mb-4">
                <li>+ 에센셜 플랜의 모든 서비스 제공</li>
                <li>이벤트 세팅 최대 35개</li>
                <li>*이벤트 추가시 별도 요금 부과</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">프리미엄 플랜</h4>
            </div>
            <div class="card-body">
              <h4 class="pricing-card-subtitle my-4">
                데이터 세팅, 인사이트 리포트,<br />
                시각화, 내재화 교육까지<br />
                올인원 서비스
              </h4>
              <h3 class="card-title pricing-card-title mb-5">
                문의 필요
                <br /><span class="pricing-period">(기간 협의)</span>
              </h3>

              <div class="subscribe-form">
                <a href="#premium" onclick="openContactForm();" class="button button--big subscribe-button"
                  data-tag-index="data_landing" data-tag-content="문의하기_이용금액_프리미엄">
                  문의하기
                </a>
              </div>
              <hr class="pricing" />
              <ul class="list-unstyled mt-3 mb-4">
                <li>+ 베이직 플랜의 모든 서비스 제공</li>
                <li>데이터 시각화 대시보드 구축</li>
                <li>분석 리포트 제작</li>
                <li>맞춤 데이터 컨설팅</li>
                <li>맞춤 데이터 분석 교육</li>
                <li>&nbsp;</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include section-partners.html %}

<div class="container animate">
  <div class="section__info">
    <div class="section__head">
      <h2 class="section__title">관련 글</h2>
    </div>
  </div>
  <div class="row">
      {% if site.posts.size > 0 %}
        {% for post in site.categories.case offset:0 %}
          {% include article-content.html %}
        {% endfor %}
      {% endif %}
  </div>
</div>

<script>
  dataLayer.push({
    event: "view_ga_landing",
    ids: "{{page.ids}}",
    title: "{{page.title}}",
    page_index: "ga_landing",
    event_id: generateRandomCode(32),
  });
</script>