---
layout: default
title: 이벤트
permalink: /event/
description: 디지털 마케터를 위한 프리미엄 웨비나에 초대합니다.
---

<div class="container">
  <div class="row">
    <div class="col col-8 push-2 col-t-12 push-t-0">
      <div class="page-head">
        <h1 class="page-title">
          오픈소스마케팅 이벤트
        </h1>
          <p class="page-description">
            디지털 마케터를 위한 프리미엄 웨비나에 초대합니다.
          </p>
      </div>
    </div>
  </div>
</div>

<div class="container animate">
  <div class="row">
    {% for post in site.categories.event %}
      {% include article-content.html %}
    {% endfor %}
  </div>
</div>

<script>
  dataLayer.push({
    'page_index': 'event_home',
    'event_id': generateRandomCode(32)
  });
</script>
