---
layout: default
title: 이벤트
permalink: /event/
description: 오소마에서 진행하는 행사 정보를 알아보세요.
---

<div class="container">
  <div class="row">
    <div class="col col-8 push-2 col-t-12 push-t-0">
      <div class="page-head">
        <h1 class="page-title">
          오픈소스마케팅 이벤트
        </h1>
          <p class="page-description">
            오소마에서 개최하는 디지털 마케터를 위한 행사에 참여하세요.
          </p>
      </div>
    </div>
  </div>
</div>

<div class="container animate">
  <div class="row">
    {% for post in site.categories.event %}
      {% include article-content.html %}
    {% endfor %}
  </div>
</div>

<script>
  dataLayer.push({
    'page_index': 'event_home',
    'event_id': generateRandomCode(32)
  });
</script>
