<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  const setUidCookie = (value, days) => {
    const nameEQ = "OSID=";
    let osidValue = null;
    const ca = document.cookie.split(';');
    for(let c of ca) {
        c = c.trim();
        if (c.startsWith(nameEQ)) {
            osidValue = c.substring(nameEQ.length);
            break;
        }
    }    
    if (osidValue) {
        value = osidValue;
    }
    let expires = "";
    if (days) {
        const date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = '_osmid' + "=" + (value || "") + expires + "; path=/";
  }

  const getCookie = (name) => {
    const nameEQ = name + "=";
    const ca = document.cookie.split(';');
    for(let c of ca) {
        c = c.trim();
        if (c.startsWith(nameEQ)) {
            return c.substring(nameEQ.length);
        }
    }
    return null;
  }

  function generateRandomCode(n) {
    var str = ''
    for (let i = 0; i < n; i++) {
      str += Math.floor(Math.random() * 10)
    }
    const time = Date.now();
    return `${str}.${time}`;
  }

  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'event_id': generateRandomCode(12)
  });
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://gtm.osoma.kr/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5D8V3RJ');</script>
  <!-- End Google Tag Manager -->