<div id="post_bottom_popup" class="container-fluid position-fixed bottom-0 start-0">
  <div class="row">
    <div class="col col-12 text-center pt-4 pb-4 text-white">
      <a id="close-post-bottom-popup" type="button" class="btn-close btn-close-white popup-x" aria-label="Close" data-tag-index="popup" data-tag-content="팝업_닫기"></a>
      <h3 class="popup-bottom-heading">우리 회사에 맞는 디지털 마케팅 진단을 받고 싶다면?</h3>
      <a type="button" class="popup-bottom-button btn btn-light" onclick="openContactForm();" data-tag-index="popup" data-tag-content="컨설팅 문의하기_1회 무료 상담 받기">1회 무료 상담 받기</a>
    </div>
  </div>
</div>

<div id="post_top_popup" class="container-fluid position-fixed top-0 start-0">
  <div class="row">
    <div class="col col-12 text-center text-white">
      <a id="close-post-top-popup" type="button" class="btn-close btn-close-white popup-top-x" aria-label="Close" data-tag-index="popup" data-tag-content="팝업_닫기"></a>
      <h4 class="popup-top-heading">우리 회사에 맞는 디지털 마케팅 진단을 받고 싶다면?</h4>
      <a type="button" class="popup-top-button btn btn-light" onclick="openContactForm();" data-tag-index="popup" data-tag-content="컨설팅 문의하기_1회 무료 상담 받기">무료 상담 받기</a>
    </div>
  </div>
</div>

<script>
  if (localStorage.post_popup_user == "a") {
    document.getElementById('post_bottom_popup').style.display = 'block';
    dataLayer.push({
      'popup_test': "bottom_popup"
    });
  } else {
    document.getElementById('main_header').className += " popup-header";
    document.getElementById('post_top_popup').style.display = 'block';
    dataLayer.push({
      'popup_test': "top_popup"
    });
  }

  if (sessionStorage.post_popup_close == "true") {
    document.getElementById('post_bottom_popup').style.display = 'none';
    document.getElementById('post_top_popup').style.display = 'none';
    document.getElementById('main_header').classList.remove('popup-header');
  }

  document.getElementById('close-post-bottom-popup').addEventListener('click', function () {
    document.getElementById('post_bottom_popup').style.display = 'none';
    sessionStorage.post_popup_close = "true";
  });

  document.getElementById('close-post-top-popup').addEventListener('click', function () {
    document.getElementById('post_top_popup').style.display = 'none';
    sessionStorage.post_popup_close = "true";
    document.getElementById('main_header').classList.remove('popup-header');
  });
</script>
