<div id="post_bottom_popup" class="container-fluid position-fixed bottom-0 start-0">
  <div class="row">
    <div class="col col-12 text-center pt-4 pb-4 text-white">
      <button id="close-post-bottom-popup" type="button" class="btn-close btn-close-white popup-x" aria-label="Close"></button>
      <h3 class="popup-bottom-heading">우리 회사에 맞는 디지털 마케팅 진단을 받고 싶다면?</h3>
      <a type="button" class="popup-bottom-button btn btn-light" onclick="openContactForm();" data-tag-index="popup" data-tag-content="컨설팅 문의하기_1회 무료 상담 받기">1회 무료 상담 받기</a>
    </div>
  </div>
</div>

<script>
  if (sessionStorage.post_popup_close == "true") {
    document.getElementById('post_bottom_popup').style.display = 'none';
  }

  document.getElementById('close-post-bottom-popup').addEventListener('click', function () {
    document.getElementById('post_bottom_popup').style.display = 'none';
    sessionStorage.post_popup_close = "true";
  });
</script>
