<div class="contact-head" style="margin-top:8em;">
  <h2 class="contact-title">참가 신청하기</h2>
</div>

<form id="eventReg" class="form" action="https://script.google.com/macros/s/AKfycbwqMbTqoLDP4RZIE8Q0fcBatG5XD1La6H-UvzQ8MSEFa0RBOH5sitWZ6z5aYagJme6z9w/exec" method="POST" target="blankiframe">
  <input type="hidden" name="event" value="{{page.title}}" />
  <div class="form__group">
    <label class="form__label screen-reader-text" for="event-name">이름</label>
    <input class="form__input" id="event-name" type="text" name="name" placeholder="이름" required>
  </div>
  <div class="form__group">
    <label class="form__label screen-reader-text" for="event-email">Email</label>
    <input class="form__input" id="event-email" type="email" name="email" placeholder="이메일 주소" required>
  </div>
  <div class="form__group">
    <label class="form__label screen-reader-text" for="event-phone">휴대 전화 번호</label>
    <input class="form__input" id="event-phone" type="text" name="phone" placeholder="휴대전화번호(010-1234-5678)" required>
  </div>
  <div class="form__group">
    <label class="form__label screen-reader-text" for="event-question">사전 질문 내용</label>
    <textarea class="form__input" id="event-question" name="question" rows="8" placeholder="사전 질문 내용"></textarea>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="event-agree" required>
    <label class="form__label form-check-label" for="event-agree">행사 안내 및 공지 발송을 위한 개인 정보 수집에 동의합니다.</label>
  </div>

  <div style="padding-top:3.2rem;">
  </div>

  <div class="form__group form__group-button">
    <button class="button button--middle" type="submit">신청하기 <i class="ion ion-ios-paper-plane"></i></button>
  </div>
</form>

<div class="col col-12" style="display:none;" id="submit_complete">
  <h4 class="text-center">신청이 완료되었습니다.</h4>
</div>

<iframe name="blankiframe" style="display:none;"></iframe>

<!-- emailjs Init -->
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script type="text/javascript">
   (function(){
      emailjs.init("l6lrh8HbQjz4EaC4N");
   })();
</script>

<script data-cfasync="false" type="text/javascript"
src="{{ site.baseurl }}/js/form-submission-handler.js"></script>

<script>
  var eventSubmit = function(){
    var nameVal = document.querySelector('#event-name').value;
    var emailVal = document.querySelector('#event-email').value;
    dataLayer.push({
      'event': 'eventSubmit',
      'title': '{{ page.title }}',
      'ids': '{{ page.ids }}',
      'email': emailVal
    });

    // emailjs send
    var templateParams = {
        to_name: nameVal,
        to_email: emailVal
    };

    emailjs.send('service_f370eus', 'template_8753wge', templateParams)
        .then(function(response) {
           console.log('SUCCESS!', response.status, response.text);
        }, function(error) {
           console.log('FAILED...', error);
        });

    document.getElementById('eventReg').style.display = 'none'; // hide form
    document.getElementById('submit_complete').style.display = 'block';
  };
  document.querySelector('#eventReg').addEventListener('submit', eventSubmit);
</script>
