<section id="main-hero" class="subscribe section">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="subscribe__inner">
          <div class="subscribe__info">
            <h3 class="subscribe__title">
              디지털 마케팅 전문 컨설팅 팀
            </h3>
            <div id="hero-subtitle" class="author__bio">
              <span class="text-span" style="font-weight:800;">오픈소스마케팅</span>은 파트너의 비즈니스 성장을 위해 데이터 수집부터 마케팅 활용까지 디지털 마케팅의 전반적인 영역의 코칭 서비스를 제공합니다.
            </div>
          </div>
          <div class="subscribe-form">
            <a href="https://drive.google.com/file/d/1RUj-w1D4nQnslLYxBqvyiC0ySsZZUgN6/view?usp=sharing" target="_blank" class="button button--big subscribe-button" data-tag-index="main" data-tag-content="서비스 소개서 보기">
              서비스 소개서 보기
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
