{% if page.url contains '404' %}
{% else %}
<!-- begin subscribe -->
<section class="subscribe section">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="subscribe__inner">
          <div class="subscribe__info">
            <h3 class="subscribe__title">{{ site.data.settings.mailchimp__settings.mailchimp__title }}</h3>
            <div class="subscribe__subtitle">
              <span id="ityped"></span>
            </div>
          </div>

          <form class="subscribe-form validate" action="{% if site.data.settings.mailchimp__settings.mailchimp__identifier %}//{{site.data.settings.mailchimp__settings.mailchimp__identifier}}{% else %}#{% endif %}" method="POST"
            id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
            <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
            <input class="subscribe-email required email" id="mce-EMAIL" type="text" name="EMAIL" placeholder="여기에 이메일을 입력하세요" required>

            <div class="form-check">
              <p class="fs-6">뉴스레터 구독은 <a href="/marketing-agree/" target="_blank" style="text-decoration: underline;">광고성 정보 수신에 동의</a>하는 것으로 간주합니다.</p>
            </div>


            <button class="button button--big subscribe-button" id="membedded-subscribe" type="submit" name="subscribe">{{ site.data.settings.mailchimp__settings.mailchimp__button__text }}</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end subscribe -->
<!-- begin contact -->
<section class="subscribe section mt-5 contact_bg">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="subscribe__inner">
          <div class="subscribe__info">
            <h3 class="subscribe__title">비즈니스의 디지털 마케팅 성공전략을 함께 찾아갑니다.</h3>
            <div class="subscribe-form">
              <a onclick="openContactForm();" class="button button--big subscribe-button text-white" data-tag-index="footer_contents" data-tag-content="컨설팅 문의하기_하단버튼">
                컨설팅 문의하기
              </a>
              <p class="text-center mt-3">1:1 무료 상담으로 시작할 수 있습니다.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end contact -->
{% endif %}


<script>
  var subscribeEmail = function(){
    var emailValue = document.querySelector('#mce-EMAIL').value;
    var regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;

    if (emailValue.match(regExp) != null) {
      dataLayer.push({
        'event': 'emailSubscribe',
        'value': emailValue,
        'event_id': generateRandomCode(12)
      });
    }
  };

  document.querySelector('#membedded-subscribe-form').addEventListener('submit', subscribeEmail);
</script>
