<section class="section">
  <div class="container">
    <div class="row">
      <div class="col col-3 col-t-6 mb-5">

        <!-- Icon -->
        <div class="mb-3 text-center">
          <img class="main_featured_icon mb-3 img-fluid" src="/images/main/featured-01.svg">
        </div>

        <!-- Heading -->
        <h3 class="text-center">
          데이터 분석/구축
        </h3>

        <!-- Text -->
        <p class="text-muted mb-6 mb-md-0 text-center">
          GA4, Amplitude 등 분석 툴 맞춤 세팅 및 개발자 소통 가이드, 데이터 시각화
        </p>

      </div>

      <div class="col col-3 col-t-6">

        <!-- Icon -->
        <div class="mb-3 text-center">
          <img class="main_featured_icon mb-3 img-fluid" src="/images/main/featured-02.svg">
        </div>

        <!-- Heading -->
        <h3 class="text-center">
          그로스해킹
        </h3>

        <!-- Text -->
        <p class="text-muted mb-6 mb-md-0 text-center">
          사용자 경험 최적화<br>
          유입/광고 최적화<br>
          브랜드 포지셔닝<br>
          마케팅 전략과 실행<br>
        </p>

      </div>

      <div class="col col-3 col-t-6">

        <!-- Icon -->
        <div class="mb-3 text-center">
          <img class="main_featured_icon mb-3 img-fluid" src="/images/main/featured-03.svg">
        </div>

        <!-- Heading -->
        <h3 class="text-center">
          교육/강의
        </h3>

        <!-- Text -->
        <p class="text-muted mb-6 mb-md-0 text-center">
          마케팅, 데이터 분석 관련 역량 육성 및
          내부 담당자 교육
        </p>

      </div>

      <div class="col col-3 col-t-6">

        <!-- Icon -->
        <div class="mb-3 text-center">
          <img class="main_featured_icon mb-3 img-fluid" src="/images/main/featured-04.svg">
        </div>

        <!-- Heading -->
        <h3 class="text-center">
          맞춤형 컨설팅
        </h3>

        <!-- Text -->
        <p class="text-muted mb-6 mb-md-0 text-center">
          비즈니스 상황에 맞춘 전문 컨설팅 진행
        </p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<!-- <section class="subscribe section">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="subscribe__inner">
          <div class="subscribe__info">
            <h3 class="subscribe__title">
              우리에게 어떤 서비스가 필요한지 잘 모르시겠나요?
            </h3>
            <p class="text-center mt-2">
              컨설턴트의 1:1 무료 진단과 상담을 통해 적합한 서비스를 맞춤 설정해드립니다.
            </p>
            <div class="subscribe-form">
              <a onclick="openContactForm();" class="button button--big subscribe-button text-white" data-tag-index="main" data-tag-content="컨설팅 문의하기_1:1 상담 요청">
                상담 요청하기
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section> -->
