<section id="main-hero" class="subscribe section">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="hero__inner">
          <div class="subscribe__info">
            <h1 class="hero__title">
              데이터에 기반한<br>
              강력한 성장 전략이 필요하신가요?
            </h1>
            <div id="hero-subtitle" class="author__bio">
              데이터 수집부터 비즈니스에 맞는 마케팅 전략 도출까지 오픈소스마케팅은 근거에 기반한 단단한 성장 경험을 제공합니다.
            </div>
          </div>
          <div class="subscribe-form">
            <a onclick="openContactForm();" class="button button--big subscribe-button" data-tag-index="main" data-tag-content="컨설팅 문의하기_hero">
              상담 문의
            </a>
          </div>
          <div class="subscribe-form mt-3">
            <a href="{{site.data.settings.introduce_file}}" target="_blank" class="outline__button outline__button--big" data-tag-index="main" data-tag-content="서비스 소개서 보기">
              소개서 다운로드
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
