<section id="main-hero" class="subscribe section">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="subscribe__inner">
          <div class="subscribe__info">
            <h1 class="hero__title">
              디지털 마케팅 전문 컨설팅 팀
            </h1>
            <div id="hero-subtitle" class="author__bio">
              <span class="text-span" style="font-weight:800;">오픈소스마케팅</span>은 비즈니스에 최적화된 성공 전략을 제시하고, 실제적인 성장을 돕는 디지털 마케팅 전문 컨설팅 팀입니다.
            </div>
          </div>
          <div class="subscribe-form">
            <a onclick="openContactForm();" class="button button--big subscribe-button" data-tag-index="main" data-tag-content="컨설팅 문의하기_hero">
              컨설팅 문의하기
            </a>
          </div>
          <div class="subscribe-form mt-3">
            <a href="{{site.data.settings.introduce_file}}" target="_blank" class="outline__button outline__button--big" data-tag-index="main" data-tag-content="서비스 소개서 보기">
              서비스 소개서 보기
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
