<!-- begin blog -->
<section id="main-blog" class="section blog">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner__inner animate">

        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">{{ site.data.settings.blog__settings.blog__title }}</h2>
          </div>
          {% if site.data.settings.blog__settings.blog__description %}
            <p class="section__description">{{ site.data.settings.blog__settings.blog__description }}</p>
          {% endif %}
        </div>

          <div class="row">
            {% if site.posts.size > 0 %}
              {% for post in site.categories.blog offset:0 limit:6 %}
                {% include article-content.html %}
              {% endfor %}
            {% endif %}
          </div>

          <div class="subscribe-form pt-3">
            <a class="button button--big subscribe-button" href="{{ '/blog' | relative_url }}" data-tag-index="main" data-tag-content="블로그 전체 글 보기">
              전체 글 보기
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end blog -->
