<!-- begin partners -->
<section id="main-partners" class="section">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner__inner animate">

        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">고객사 ▪︎ 파트너사</h2>
          </div>
          <div id="hero-subtitle" class="author__bio text-center mt-3">
            <span class="text-span" style="font-weight:800;">오픈소스마케팅</span>은 그로스해킹을 고민하는 협력 파트너사들의 실질적인 문제를 함께 개선합니다.
          </div>
        </div>

          <div class="row">
            {% if site.data.settings.partners %}
              {% for partners in site.data.settings.partners %}
              <div class="article col col-2 col-d-3 col-t-3">
                <div class="article__inner">
                  <div class="image-wrap">
                    <a class="article__image">
                      <img class="lazy" data-src="{{site.baseurl}}/images/partners/{{partners.logo}}" alt="{{partners.name}}">
                    </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end partners -->
