<!-- 테스트 시작 화면 -->
<!-- <section id="run">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="w-shadow bold700">디지털 마케팅 테스트</h1>
      <button type="button" id="run-btn" class="btn btn-osoma btn-lg mt-5 bold700">테스트 시작하기</button>
    </div>
  </div>
</section> -->
<!--/ 테스트 시작 화면 -->


<section id="run" class="subscribe section">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="subscribe__inner">
          <div class="subscribe__info">
            <h3 class="subscribe__title">
              DMIQ(Digital Marketing IQ Test)
            </h3>
            <div id="hero-subtitle" class="author__bio pt-1">
              우리 팀의 <span class="text-span" style="font-weight:800;">디지털 트랜스포메이션</span> 역량을 알아보고 디지털 마케팅 진단 리포트를 받아보세요.
            </div>
            <div class="test_time pt-3">
              검사 소요 시간: 약 10분(54문항)
            </div>
          </div>
          <div class="subscribe-form">
            <a id="run-btn" class="button button--big subscribe-button">
              테스트 시작하기
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    {% include section-blog.html %}
  </div>
</section>
