
    <section id="dmiq-description" class="subscribe section">
      <div class="container">
        <div class="row">
          <div class="col col-12">

            <div class="subscribe__inner">
              <div class="subscribe__info">
                <div id="hero-subtitle" class="author__bio pt-1">
                  <h1>테스트 시작 전에 꼭 읽어주세요.</h1>
                </div>

                <div class="test_description">
                  <p>
                    이 테스트는 팀(또는 개인)이 가지고 있는 디지털 마케팅 역량을 부문별로 진단하고 약점은 보완, 강점은 강화해서 효과적인 디지털 전환을 준비할 수 있도록 하는 목적으로 진행됩니다.
                  </p>
                  <p><b>*가능하면 [보통이다] 또는 [모르겠다]를 선택하지 말아주세요.</b></p>
                </div>
                <div class="test_time pt-2">
                  검사 소요 시간: 약 10분(54문항)
                </div>
              </div>
              <div class="subscribe-form">
                <a id="start-btn" class="button button--big subscribe-button">
                  확인했어요
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
