<!-- BEGIN: Vendor JS-->
<script src="{{ site.baseurl }}/app-assets/vendors/js/vendors.min.js"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="{{ site.baseurl }}/app-assets/vendors/js/ui/jquery.sticky.js"></script>
<script src="{{ site.baseurl }}/app-assets/vendors/js/charts/apexcharts.min.js"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="{{ site.baseurl }}/app-assets/js/core/app-menu.js"></script>
<script src="{{ site.baseurl }}/app-assets/js/core/app.js"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<script src="{{ site.baseurl }}/assets/check/js/dmiq-test.js"></script>
<script src="{{ site.baseurl }}/assets/check/js/dmiq-run.js"></script>
<script src="{{ site.baseurl }}/assets/check/js/dmiq-result.js"></script>
<script src="{{ site.baseurl }}/assets/check/js/dmiq-comment.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
<script lang="javascript" src="{{ site.baseurl }}/js/xlsx.full.min.js"></script>
<script src="{{ site.baseurl }}/js/FileSaver.min.js"></script>
<!-- END: Page JS-->

{% include js-add.html %}
