<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/app-assets/vendors/css/vendors.min.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/app-assets/vendors/css/charts/apexcharts.css">
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/app-assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/app-assets/css/bootstrap-extended.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/app-assets/css/colors.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/app-assets/css/components.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/app-assets/css/themes/dark-layout.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/app-assets/css/themes/bordered-layout.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/app-assets/css/themes/semi-dark-layout.css">

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/app-assets/css/core/menu/menu-types/horizontal-menu.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/app-assets/css/plugins/charts/chart-apex.css">
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/check/css/style.css">
<!-- END: Custom CSS-->


<!-- 원본 -->
<!-- Ionicons -->
<link href="https://unpkg.com/ionicons@4.5.0/dist/css/ionicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="/images/fontawesome.css">
<link rel="stylesheet" href="/assets/css/prism.css">

<style>
{% capture include_to_scssify %}
  {% include main.scss %}
{% endcapture %}
{{ include_to_scssify | scssify }}
</style>
