---
layout: default
title: 블로그
description: 디지털 마케팅 전문 컨설턴트들의 유용한 실무 노하우를 글/영상으로 공유합니다.
---
<div class="container">
  <div class="row">
    <div class="col col-8 push-2 col-t-12 push-t-0">
      <div class="page-head">
        <h1 class="page-title">
          오픈소스마케팅 블로그
        </h1>
        <p class="page-description">
          디지털 마케팅 전문 컨설턴트들의 유용한 실무 노하우를 글/영상으로 공유합니다.
        </p>
        <div class="subscribe-form mt-3">
          <a href="{{ '/search/' | relative_url }}" class="outline__button outline__button--big" data-tag-index="blog" data-tag-content="블로그 검색">
            블로그 검색하기
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container animate">
  <div class="row">
      {% if site.posts.size > 0 %}
        {% for post in site.categories.blog offset:0 %}
          {% include article-content.html %}
        {% endfor %}
      {% endif %}
  </div>
</div>

<script>
  dataLayer.push({
    'page_index': 'blog_home',
    'event_id': generateRandomCode(32)
  });
</script>
